{% extends "main/public.main.html.twig" %}

{% block content %}

    <h2 class="font-bold text-gray-800 uppercase hover:text-gray-600 text-3xl pt-4 text-center">{{ section.sectionTitle }}</h2>
    {{ parent() }}
{% endblock %}