
<!DOCTYPE html>
<html lang="{% block lang %}en{% endblock %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="David Grzyb">
    <meta name="description" content="">

    <title>{% block title %}{% endblock %}</title>
{% block stylesheets %}{% endblock %}
</head>
<body class="bg-white font-family-karla">
{% block navBar %}
    {% block navMain %}{% endblock %}
    {% block navSide %}{% endblock %}
{% endblock %}

{% block header %}
<!-- Text Header -->
<header class="w-full container mx-auto">
    <div class="flex flex-col items-center py-12">
        <a class="font-bold text-gray-800 uppercase hover:text-gray-700 text-5xl" href="#">
            Minimal Blog
        </a>
        <p class="text-lg text-gray-600">
            Lorem Ipsum Dolor Sit Amet
        </p>
    </div>
</header>
{% endblock %}

{% sectionNav %}{% endblock %}

{% block content %}
    {% block sideBar %}{% endblock %}
{% endblock %}

{% block footer %}{% endblock %}
{% block carousel %}{% endblock %}

</body>
</html>