
<!DOCTYPE html>
<html lang="{% block lang %}fr{% endblock %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="David Grzyb">
    <meta name="description" content="">

    <title>{% block title %}{% endblock %}</title>
{% block stylesheets %}{% endblock %}
</head>
<body class="bg-white font-family-karla">
{% block navBar %}
    {% block navMain %}{% endblock %}
    {% block navSide %}{% endblock %}
{% endblock %}

{% block header %}{% endblock %}

{% block sectionNav %}{% endblock %}

{% block content %}
    {% block posts %}{% endblock %}
    {% block sideBar %}{% endblock %}
{% endblock %}

{% block footer %}{% endblock %}
{% block carousel %}{% endblock %}

</body>
</html>